<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.attendance.mapper.AttendanceAdjustmentMapper">
    <insert id="insert" parameterType="com.campus.attendance.domain.AttendanceAdjustment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO attendance_adjustment (attendance_record_id, before_status, after_status, reason, operator_id, created_at)
        VALUES (#{attendanceRecordId}, #{beforeStatus}, #{afterStatus}, #{reason}, #{operatorId}, #{createdAt})
    </insert>
</mapper>
